/* 设置浮动 */
.fl{
    float:left;
}
.fr{
    float:right;
}

/* 清除浮动 */

.clear{
    clear: both;
}

/*清除固定结构的浮动*/
.clearfix:after,.clearfix::after{
    display: block;
    content: "";
    clear: both;
}
/*版心*/
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
/*颜色公公共样式*/
.white{
    color: #ffffff;
}
/*背景公共样式*/
.bg{
    background: #252525;
}

/*居中*/
.fontcenter{
    text-align: center;
}
/*column通用样式*/
.colbox{
    width: 400px;
    height: 167px;
    padding-top: 44px;
}
/*公公共标题*/
.titile{
    font-size: 22px;
    color: #bbb8b5;
    margin-top: 84px;
}
.titile h2{
    display: inline-block;
    height: 54px;
    font-size: 28px;
    color: #252525;
    font-weight: normal;
    background: url("../images/nav_bg02.png") no-repeat bottom left;
    margin-right: 12px;
}

/*标题2*/
.title-sm{
    line-height: 60px;
    background: url(../images/nav_bg02.png) no-repeat left bottom;
    font-weight: normal;
}

/*--头部标题--*/
#toptitle{
    border-bottom: 1px solid #f3f3f3;
    line-height: 48px;
    height: 48px;
    color: #818388;
    margin: 0 auto;
}

#toptitle a{
    font-size: 14px;
    color: #818388;
}

/*分页样式*/
.skip{
    margin-top: 40px;
}
.skip a{
    border: 1px solid #f3f3f3;
    padding: 2px;
}
.skip a.current{
    border: none;
    color: red;
}