/*头部样式*/
#header .top{
    height: 45px;
    line-height: 45px;
}
/*间距*/
#header .top .tel{
    margin-right: 20px;
}

/*nav样式*/
#header .nav{
    padding: 25px 0;
}

#header .nav .logo{
    width: 150px;
    height: 50px;
}

#header .nav .menu li{
    float: left;
    line-height: 50px;
    margin: 0 30px;
}

#header .nav .menu a{
    font-size: 16px;
    color: #252525;
}
/*鼠标图片样式*/
#header .nav .menu li.current,#header .nav .menu li:hover{
    background: url("../images/nav_move.jpg") no-repeat center bottom;
}

/*banner样式*/
#banner{
    background: url("../images/banner1.jpg") no-repeat -240px;
    padding: 165px 0;
}

#banner .bannerbox{
    width: 450px;
    height: 198px;
    background: url("../images/border.png") no-repeat;
    margin: 0 auto;
    padding-top: 12px;
}
#banner .bannerbox h2{
    font-size: 42px ;
    line-height: 82px;
}
#banner .bannerbox P{
    font-size: 18px;
    line-height: 28px;
}
/*内容样式*/
#content .feature{
    margin-top: 28px;
}
#content .feature .img1{
    background: url("../images/01.jpg");
}
#content .feature .img2{
    background: url("../images/02.jpg");
}
#content .feature .img3{
    background: url("../images/03.jpg");
}
#content .feature h2{
    font-size: 18px;
    line-height: 44px;
}
#content .feature p{
    font-size: 12px;
    line-height: 28px;
}
/*产品样式*/
#content .product .inner{
    margin-top: 43px;
}
/*左边盒子*/
#content .product .inleft{
    width:570px;
    margin-right: 30px;
}
#content .inner .items{
    float: left;
    margin-bottom: 30px;
    position: relative;
}
#content .product .inleft .items img{
    width: 270px;
    height: 275px;
}
#content .product .inleft .items:not(:nth-child(2n)){
    margin-right: 30px;

}
/*右边盒子*/
#content .product .inright{
   position: relative;
}
#content .product .inright img{
    width: 600px;
    height: 580px;
}
/*蒙层样式*/

#content .inner  .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.5);

    display: none;
}
#content .inner  .mask .masktitle{
    width: 100%;
    height: 60px;
    position: absolute;
    top:50%;
    margin-top:-30px;
}
#content .inner  .mask .masktitle h4{
    color: #252525;
    font-size: 24px;
    font-weight: normal;
}
#content .inner  .mask .masktitle p{
    font-size: 22px;
    color: #15bded;
}

/*圆角a标签*/
#content .mask .masktitle a{
    display: inline-block;
    width:124px;
    height:36px;
    line-height:36px;
    border: 1px solid #4b4b4a;
    color:#252525;
    font-size:14px;
    border-radius: 18px;
    margin-top:20px;
}


/* hover效果*/
#content .inleft .items:hover .mask,#content .inright:hover .mask{
    display: block;
}

/*关于我们*/
#aboutus{
    background: url("../images/banner3.jpg") no-repeat center;
    margin-top: 20px;
}
#aboutus .aboutbox{
    width: 678px;
    margin: 0 auto;
    padding: 80px 0 70px 0;
}
#aboutus .aboutbox h2{
    height: 68px;
    line-height: 68px;
    font-size: 28px;
    color: #3c3c3c;
    font-weight: normal;
    background: url("../images/nav_bg02.png") no-repeat center bottom;
}

#aboutus .aboutbox p{
    margin-top: 15px;
    line-height: 30px;
    font-size: 14px;
    color: #6b6b6b;
}

#aboutus .aboutbox a{
    display: inline-block;
    width: 155px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #ffffff;
    background: #25bbce;
    border-radius: 23px;
    margin-top: 40px;
}

/*新闻样式*/
#news .items{
    width: 380px;
    margin-top: 34px;
}

#news .items li{
    border-bottom: 1px dashed #6a6a6a;
    line-height: 40px;
}
#news .items a{
    font-size: 14px;
    color: #6a6a6a;
}
#news .items a:first-child{
    color: #15bded;
}
#news .items span{
    float: right;
    font-size: 14px;
    color: #6a6a6a;
}
#news .box .items:first-child{
    margin-right: 30px;
}

/*页脚样式*/
#footer{
    background: #141414;
    padding-bottom: 30px;
    margin-top: 70px;
}

#footer .items:first-child{
    margin-right: 86px;
}

#footer  .wrapper{
    padding:70px 0;
}

#footer .items img{
    width:156px;
    height:47px;
}

#footer .items p{
    color: #818388;
    font-size: 14px;
    line-height: 40px;
    background: url("../images/icon.jpg") no-repeat left;
    padding-left: 30px;
    margin-top: 30px;
}
#footer .items ul{
    width:320px;
    color: #818388;
    margin-top: 20px;
}
#footer .items a{
    float:left;
    width:160px;
    line-height: 42px;
    font-size:14px;
    margin-top: -4px;
}
/*搜索框样式*/
#footer .search{
    width: 320px;
    margin-top: 20px;
}

#footer .textinput,.btn{
    border: none;
    line-height: 46px;
    float: left;
}

#footer .search .textinput{
    width:220px;
    background: #333;
    color:#939393;
    text-indent:5px;
}

#footer .items .search .btn{
    width:100px;
    background: #3aa27f;
    color:#fff;

}
/*关注样式*/
#footer .items .focus{
    color: #818388;
    font-size:14px;
    margin-top: 30px;
}
#footer .focus  .icon{
    display: inline-block;
    width:29px;
    height:29px;
    background: url(../images/fenxiang.png) no-repeat;
}

#footer .focus .icon-wb{
    background-position: -2px 0;

}
#footer .focus .icon-wx{
    background-position: -44px 0;

}

/*垂直对齐图标*/
#footer .items .focus span{
    vertical-align: middle;
}

#footer>p{
    line-height: 74px;
    background: #000;
    color: #818388;

}