<!DOCTYPE html>
<html>
  <head>
    <title>新闻发布系统入口页面</title>
    <style>
      #nav {
        width: 300px;
        height: 300px;
        background-color: #f1f1f1;
        text-align: center;
        line-height: 300px;

        /* 水平垂直居中 */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        border-radius: 7px;
      }

      #nav > a {
        text-decoration: none;
        color: green;
        font-size: 26px;
      }
    </style>
  </head>
  <body>
  <div id="nav">
    <a href="/newsadd">新闻发布</a>
    <a href="/newslist">新闻列表</a>
  </div>
  </body>
</html>
